body {
	magin: 0;

}
header {
	background: #999;
	color: white;
}

nav ul{
	background: yellow;
	color: white;
}

header h1{
	margin: 0;
	display: inline;
}

nav ul li a{
	color: green;
}

nav ul li{
	display:inline;
	list-style-type: none;
	padding: 5px 15px 5px 15px;
}




.col{
	background: #555;
	padding: 20px;
	float: left;
	margin :1%;
	width: 31%;
}















